.emp_card {
    width: 32%;
    height: 400px;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 0.5%
}

.emp_card img {
    width: 200px;
    display: block;
    margin: 0px auto;
}

.emp_card h4 {
    background-color: #282c34;
    color: #FFF;
    padding: 0.2em;
    margin-bottom: 0.8em;
    font-size: 1em;
}

.emp_card p {
    color: #3b3b3b;
    margin-bottom: 1em;
}

.emp_card p span {
    font-weight: bold;
}

.emp_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.emp_card_actions a,
.emp_card_actions button {
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    font-size: 0.9em;
    padding: .5em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.emp_card_actions svg {
    margin-right: 0.5em;
}

.emp_card_actions a:hover{
    background-color: #282c34;
    color: #FFF;
}
.emp_card_actions button:hover {
    background-color: #e62b2b;
    color: #FFF;
}